<h2><br><%= current_user.username %><br></h2>
<%= image_tag(current_user.avatar.url(:medium)) %><br><br>




<%= current_user.biofield %><br><br>
Website: <%= current_user.website %><br><br>
Location: <%= current_user.location %><br><br>









<%= current_user.name %>, contact at: 
<%= current_user.email %>