<br><h2><%= @user.username %></h2> <br>
<%= image_tag(current_user.avatar.url(:medium)) %><br><br>




<%= @user.biofield %><br><br>
Website: <%= @user.website %><br><br>
Location: <%= @user.location %><br><br>









<%= @user.name %>, contact at: 
<%= @user.email %>