<div class="user-wrapper row">
	<div class="user">
		 <div>
			<div class="name"><center><b>

				
				<%= link_to(@user.username, user_show_path(@user.username), {:style=>'color:#000000;', class: 'nav-link'}) %> </b> 
			</div>
		</div> 
			
		<div><center>
			<%= image_tag(@user.avatar.url(:large)) %><br><br>
		</div>

		<div class="caption"><center>
			BIO<br></center>
			<%= @user.biofield %><br><br>
		</div>

		<div class>

		Website: <%= @user.website %><br>
		Location: <%= @user.location %><br><br>
	
		</div>
		<% if @user.id == current_user.id %>
		<%= link_to('Edit Profile', edit_user_registration_path) %>
		<% end %>

	

	</div>
</div>		











<!--

<h2><br><%= current_user.username %><br></h2>
<%= image_tag(current_user.avatar.url(:medium)) %><br><br>




<%= current_user.biofield %><br><br>
Website: <%= current_user.website %><br><br>
Location: <%= current_user.location %><br><br>









<%= current_user.name %>, contact at: 
<%= current_user.email %> -->