<%= form_for @post do |f| %>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>
  
  <div class="field">
      <%= f.hidden_field :user_id %>
    </div>

    <div class="field">
      <%= f.label :caption %><br />
      <%= f.text_field :caption %>
    </div> 

    <div class="actions">
      <%= f.submit "Post to PromptoSnap" %>
    </div>
  <% end %>