<nav class="navbar justify-content-between">
  <a class="navbar-brand" href="#">PromptoSNAP!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline">
        <a class="nav-item" href="/">Home</a>
     
     <!-- views/devise/menu/_login_items.html.erb -->
  <% if user_signed_in? %>
 
  <a class="nav-item">
  <%= link_to('New Post', new_post_path, {class: 'nav-link'}) %>        
  </a>
  <a class="nav-item">
  <%= link_to('Logout', destroy_user_session_path, {method: :delete, class: 'nav-link'}) %>        
  </a>
  <a class="nav-item">
  <%= link_to('Settings', edit_user_registration_path, {class: 'nav-link'}) %>        
  </a>
  
<% else %>
  <a class="nav-item">
  <%= link_to('Login', new_user_session_path, {class: 'nav-link'}) %>  
  </a>
  <a class="nav-item">
  <%= link_to('Sign-up', new_user_registration_path, {class: 'nav-link'}) %>  
  </a>
<% end %>

</form>
  <form class="form-inline">
    <% if user_signed_in? %>

  <a class="round-image-25"><%= image_tag(current_user.avatar.url(:thumb)) %></a>
        <a class="nav-item">
            <%= link_to(current_user.username, user_show_path(current_user.username), {class: 'nav-link'}) %>  
                  </a>
    <%  end %>
  </form>
</nav>